{{ define "main" }}
  <div class="container">

    {{ partial "translation.html" . }}
    {{ partial "logo.html" . }}
    
    <div class="row">
      <div class="col-md-8 offset-md-2 gy-5 text-center">
        <h1>
          {{ .Title }}
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2 gy-4 text-center">
        {{ .Content }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-md-2 gy-4">
        <div class="d-grid gap-2">

          {{ range $val := $.Site.Params.site }}
            <a href="{{ $val.url }}" class="btn btn-outline-light btn-sm {{ if $val.disabled }}disabled{{ end }}" target="_blank" rel="noreferrer">
              <b>{{ $val.name }}</b>
            </a>
          {{ end }}

          {{ range $val := $.Site.Params.social }}
            <a href="{{ $val.url }}/{{ $val.username }}"
               class="btn btn-outline-light btn-sm {{ if $val.disabled }}disabled{{ end }}"
               target="_blank"
               rel="{{ if eq $val.name "mastodon" }}me{{ else }}noreferrer{{ end }}">
                {{ $val.name }} / <b>{{ $val.username }}</b>
            </a>
          {{ end }}

        </div>
      </div>
    </div>

    {{ partial "footer.html" . }}

  </div>
{{ end }}
