{{ define "main" }}
  <div class="container">

    {{ partial "translation.html" . }}
    {{ partial "logo.html" . }}
    {{ if .Site.Params.showNav }}
        {{ partial "nav.html" . }}
    {{ end }}

    <div class="row">
      <div class="col-md-8 offset-md-2 gy-5 text-center">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2 gy-4">
        {{ .Content }}
      </div>
    </div>

    <!-- Get the week number straight from what I'm studying -->
    {{ with index .Site.Data.study }}
      {{ range first 1 (sort . "id" "desc") }}
        <div class="row">
          <div class="col-md-8 offset-md-2 gy-4">
            <h2 id="{{ i18n "study"  | urlize }}">
              {{ i18n "study" }} ({{ .year }}-w{{ .week }})
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 offset-md-2 gy-4">
            <ul>
              {{ range .topics }}
                <li>
                  {{ . }}
                </li>
              {{ end }}
            </ul>
          </div>
        </div>
      {{ end }}
    {{ end }} 

    {{ with .Site.Data.books }}
      <div class="row">
        <div class="col-md-8 offset-md-2 gy-4">
          <!-- Books are not language-switched because that caracterizes another ISBN -->
          <h2 id="{{ i18n "reading" | urlize }}">
            {{ i18n "reading" }}
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2 gy-4">
          <ul>
            {{ range (sort . "title" "desc") }}
              <li>
                {{ .title }}{{ if .sub_title }}: {{ .sub_title }}{{ end }}
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    {{ end }}

    {{ partial "footer.html" . }}

  </div>
{{ end }}
