{{ define "main" }}
  <div class="container">

    {{ partial "translation.html" . }}
    {{ partial "logo.html" . }}
    {{ if .Site.Params.showNav }}
        {{ partial "nav.html" . }}
    {{ end }}

    <div class="row">
      <div class="col-md-8 offset-md-2 gy-4 text-center">
        <h1>
          {{ .Title }}
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2 gy-4">
        {{ .Content }}
      </div>
    </div>

    {{ with index .Site.Data.educations .Site.Language.Lang }}
      <div class="row">
        <div class="col-md-8 offset-md-2 gy-4 text-center">
          <h2 id="{{ i18n "education" | urlize }}">
            {{ i18n "education" }}
          </h2>
        </div>
      </div>
      {{ range $index, $element := sort . "id" "desc" }}
        <div class="row">
          <div class="col-md-8 offset-md-2 gy-4">
            <h3 id="{{ $element.name | urlize }}">
              {{ $element.name }}
            </h3>
            <p>
              {{ $element.university }}
              (<code>{{ dateFormat "2006" $element.start }}</code>,
              <code>
                {{ if $element.end }}
                  {{ dateFormat "2006" $element.end }}
                {{ else }}
                  {{ i18n "current" }}
                {{ end }}
              </code>)
            </p>
          </div>
        </div>
      {{ end }}
    {{ end }}

    {{ with index .Site.Data.jobs .Site.Language.Lang }}
      <div class="row">
        <div class="col-md-8 offset-md-2 gy-4 text-center">
          <h2 id="{{ i18n "experience" | urlize }}">
            {{ i18n "experience" }}
          </h2>
        </div>
      </div>
      {{ range $index, $element := sort . "id" "desc" }}
        <div class="row">
          <div class="col-md-8 offset-md-2 gy-4">
            <h3 id="{{ $element.name | urlize }}-{{ $element.job | urlize }}">
              {{ $element.job }}
            </h3>
            <p>
              <a href="{{ $element.site }}">{{ $element.name }}</a>
              (<code>{{ dateFormat "2006-01" $element.start }}</code>,
              <code>
                {{ if $element.end }}
                  {{ dateFormat "2006" $element.end }}
                {{ else }}
                  {{ i18n "current" }}
                {{ end }}
              </code>)
            </p>
            {{ range $element.description }}
              {{ . | markdownify }}
            {{ end }}
          </div>
        </div>
      {{ end }}
    {{ end }}

    {{ with index .Site.Data.projects .Site.Language.Lang }}
      <div class="row">
        <div class="col-md-8 offset-md-2 gy-5 text-center">
          <h2>{{ i18n "projects" }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2 gy-4">
          <ul>
            {{ range $index, $element := sort . "project" }}
              <li>
                <a href="{{ $element.repo_host }}/{{ $element.user }}/{{ $element.project }}">
                  {{ $element.project }}
                </a>: {{ $element.description | markdownify | truncate $.Site.Params.projectDescTruncate }}
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    {{ end }}

    {{ with index .Site.Data.courses }}
      <div class="row">
        <div class="col-md-8 offset-md-2 gy-4 text-center">
          <h2 id="{{ i18n "course" | urlize }}">
            {{ i18n "course" }}
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2 gy-4">
          <ul>
            {{ range $index, $element := sort . "name" "asc" }}
              <li>
                <a href="{{ $element.certificate_url }}">
                  {{ $element.name }}
                </a>
                - {{ $element.organization_name }}
                - {{ dateFormat "2006" $element.end }}
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    {{ end }}

    {{ partial "footer.html" . }}

  </div>
{{ end }}
