{{ define "main" }}
  <div class="container">

    {{ partial "translation.html" . }}
    {{ partial "logo.html" . }}
    {{ partial "nav.html" . }}

    <div class="row">
      <div class="col-md-8 offset-md-2 gy-4 text-center">
        <h1>
          {{ .Title }}
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2 gy-5">
        {{ .Content }}
      </div>
    </div>

    {{ with index .Site.Data.projects .Site.Language.Lang }}
      {{ range $index, $element := sort . "project" "asc" }}
        <div class="row">
          <div class="col-md-8 offset-md-2 gy-5">
            {{ if $element.private }}
              <span class="badge bg-light text-dark">private</span>
            {{ end }}
            {{ if $element.state }}
              <span class="badge bg-light text-dark">{{ $element.state }}</span>
            {{ end }}
            <h2>
              {{ $element.project }}
            </h2>
            <p class="card-text">
              {{ $element.description | markdownify }}
            </p>
            {{ if or $element.repo_host $element.url }}
              <ul>
                {{ if and $element.repo_host (not $element.private) }}
                  <li>
                    <a href="{{ $element.repo_host }}/{{ $element.user }}/{{ $element.project }}" class="card-link">
                      {{ $element.user }}/{{ $element.project }}
                    </a>
                  </li>
                {{ end }}
                {{ if $element.url }}
                  <li>
                    <a href="{{ $element.url }}" class="card-link">
                      site
                    </a>
                  </li>
                 {{ end }}
               {{ end }}
             </ul>
          </div>
        </div>
      {{ end }}
    {{ end }}

    {{ partial "footer.html" . }}

  </div>
{{ end }}
