{{ define "main" }}
  <div class="container">

    {{ partial "translation.html" . }}
    {{ partial "logo.html" . }}
    {{ if .Site.Params.showNav }}
        {{ partial "nav.html" . }}
    {{ end }}

    <div class="row">
      <div class="col-md-8 offset-md-2 gy-5 text-center">
        <h1>
          {{ .Title }}
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2 gy-5">
        {{ .Content }}
      </div>
    </div>

    {{ $counter := 1 }}
    {{ with index .Site.Data.projects .Site.Language.Lang }}
      {{ $total := sub (. | len) 1 }}

      {{ range $index, $element := sort . "name" "asc" }}

        {{ if eq $counter 1 }}
          <div class="row">
            <div class="col-md-4 offset-md-2 gy-4">
        {{ end }}

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ $element.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                {{ range $element.skill }}
                  <span class="badge bg-secondary">{{ . }}</span>
                {{ end }}
              </h6>
              <p class="card-text" style="min-height: 5rem;">
                {{ $element.description | markdownify }}
              </p>
              {{ if $element.url }}
                <a href="{{ $element.url }}" class="card-link">
                  site
                </a>
              {{ end }}
            </div>
          </div>

        {{ if eq $counter 1 }}
            </div>
          <div class="col-md-4 gy-4">
        {{ end }}

        {{ if eq $counter 2 }}
            </div>
           </div>
          {{ $counter = 0 }}
        {{ end }}

        {{/* if total number is odd, force close in last */}}
        {{ if eq $total $index }}
            </div>
          </div>
        {{ end }}

        {{ $counter = add $counter 1 }}

      {{ end }}
    {{ end }}

    {{ partial "footer.html" . }}

  </div>
{{ end }}
